.header_logo__ {
  max-width: 290px;
  display: block;
  z-index: 1;
  flex-basis: content;
  
  @include sm {
    max-width: 240px;
  }
  
  @include xs {
    max-width: 190px;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}