// nav-om -large sizes
.nav-om {
  display: flex;
  align-items: center;
  position: relative;
  gap: 48px;
  z-index: 1;

  @include md {
    gap: 15px;
  }

  @include dir {
    gap: 20px;
  }

  .close-button__,
  .nav_logo__ {
    display: none;
  }

  .nav-list-om {
    display: flex;
    margin-bottom: 0;
    gap: 30px;

    @include md {
      gap: 20px;
    }

    @include dir {
      gap: 10px;
    }

    &.small_size_only__ {
      display: none;

      @include sm {
        display: flex;
        flex-direction: column;
      }
    }

    > li {
      cursor: pointer;

      // &:not(:last-child) {
      //   margin-inline-end: 22px;

      //   @include md {
      //     margin-inline-end: 12px;
      //   }
      // }

      > a {
        font-size: 1.3rem;
        font-weight: 600;
        color: #fff;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        text-decoration: none;
        padding: 25px 0 20px;
        position: relative;
        display: block;
        margin: 0;
        text-align: center;
        cursor: pointer;
        transition: 0.5s;

        &::after {
          content: "";
          position: absolute;
          bottom: 2px;
          inset-inline-start: 0;
          width: 0;
          background-color: $primaryColor;
          height: 2px;
          transition: 0.5s;
        }

        &:hover {
          color: $primaryColor;
          

          &::after {
            width: 100%;
          }
        }
      }

      &.active {
        a {
          color: $primaryColor;
          font-weight: 700;
          // border-bottom: 3px solid $primaryColor !important;
          position: relative;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

// nav-om  sm - xs size
@include sm {
  .nav-om {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80%;
    z-index: 1111;
    padding: 20px;
    transition: 0.5s;
    overflow-y: auto;
    display: block;
    padding-top: 90px;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .nav_logo__ {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      // margin-bottom: 10px;
      filter: brightness(0) invert(1);
      max-width: 150px;
    }

    .close-button__ {
      display: block;
    }

    // .bavbar-logo-om {
    //   display: flex;
    //   max-width: 100%;
    //   justify-content: center;
    //   margin-bottom: 50px;
    //   filter: brightness(0) invert(1);

    //   img {
    //     max-width: 100%;
    //   }
    // }

    @include dir {
      left: -100%;
      right: unset;
    }

    &.active-menu {
      right: 0;

      @include dir {
        left: 0;
        right: unset;
      }
    }

    .nav-list-om {
      display: block;
      order: 3;
      width: 100%;
      margin: 0;

      gap: 0;

      @include dir {
        margin: 0;
        padding: 0;
      }

      > li {
        > a {
          color: #fff !important;
          padding: 10px 25px;
          display: block;
          margin: 0;
          text-align: start;

          &::after {
            content: none;
            display: none;
          }

          @include dir {
            margin: 0;
          }

          &:hover {
            background-color: transparent;
          }
        }

        &:nth-child(odd) {
          > a {
            background-color: rgba(#fff, 0.2);
          }
        }
      }
    }
  }
}
