<footer class="footer_sec__">
  <div class="container">
    <div class="row row_modify with_row_gap footer_content__">
      <div class="col-lg-7">
        <figure class="footer_logo figure__ ">
          <img class="img-om" src="assets/images/footer_logo.svg" alt="..." />
        </figure>
        <ul class="footer_list__ list-unstyled">
          <li><a href="#">الرئيسية</a></li>
          <li><a href="#">خدماتنا</a></li>
          <li><a href="#">كتالوج</a></li>
          <li><a href="#">عملائنا</a></li>
          <li><a href="#">تواصل معنا</a></li>
          <li><a href="#">من نحن</a></li>
          <li><a href="#">المنتجات</a></li>
          <li><a href="#">مشاريعنا</a></li>
          <li><a href="#">الوظائف</a></li>
        </ul>
      </div>
      <div class="col-lg-5">
        <ul class="footer_socials__ list-unstyled">
          <li class="li__">
            <a href="#!" class="link__">
              <img
                class="img-om"
                src="./assets/images/socials/twitter.svg"
                alt=".."
                width=""
                height="" />
            </a>
          </li>
          <li class="li__">
            <a href="#!" class="link__">
              <img
                class="img-om"
                src="./assets/images/socials/snap_chat.svg"
                alt=".."
                width=""
                height="" />
            </a>
          </li>
          <li class="li__">
            <a href="#!" class="link__">
              <img
                class="img-om"
                src="./assets/images/socials/facebook.svg"
                alt=".."
                width=""
                height="" />
            </a>
          </li>
          <li class="li__">
            <a href="#!" class="link__">
              <img
                class="img-om"
                src="./assets/images/socials/what's_up.svg"
                alt=".."
                width=""
                height="" />
            </a>
          </li>
          <li class="li__">
            <a href="#!" class="link__">
              <img
                class="img-om"
                src="./assets/images/socials/instagram.svg"
                alt=".."
                width=""
                height="" />
            </a>
          </li>
        </ul>
        <div class="copyrights_content___">
          <img
            class="copyright_icon__"
            src="./assets/images/shapes/copyright.png"
            alt=".." />
  
          جميع الحقوق محفوظة - تصميم وبرمجة
          <a href="#!">
            <img
              class="copyright_logo__"
              src="./assets/images/shapes/copyrights.svg"
              alt=".." />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>