<header class="main_header__">
  <div class="fixed_header__">
    <div class="container">
      <div class="header_content__">
        <a class="header_logo__" href="index.html">
          <figure class="figure__">
            <img src="assets/images/logo.svg" alt=".." />
          </figure>
        </a>

        <nav class="nav-om" id="navbar-menu-om">
          <button class="close-button__"></button>

          <figure class="figure__ nav_logo__">
            <img src="assets/images/logo.svg" alt=".." />
          </figure>

          <ul class="nav-list-om small_size_only__ list-unstyled">
            <li class="header_list_item__ active">
              <a href="index.html">الرئيسية</a>
            </li>
            <li class="header_list_item__">
              <a class="">من نحن</a>
            </li>

            <li class="header_list_item__">
              <a href="maintenance.html">المنتجات</a>
            </li>
            <li class="header_list_item__">
              <a href="distributors.html">كتالوج</a>
            </li>
            <li class="header_list_item__">
              <a href="about_us.html">مشاريعنا</a>
            </li>
            <li class="header_list_item__">
              <a href="about_us.html">عملائنا</a>
            </li>
            <li class="header_list_item__">
              <a href="about_us.html">الوظائف</a>
            </li>
            <li class="header_list_item__">
              <a href="about_us.html">تواصل معنا</a>
            </li>
          </ul>

          <ul class="toolbar_options__ list-unstyled">

            <li class="block__ header_contacts__">
              <a href="callto:96605095120" class="link__ header_contact_link__">
                <img src="assets/images/shapes/header_call_icon.svg" alt="...">
                <span class="text__">
                  +966 05 09 51 20
                </span>
              </a>
              <a href="mailto:safe2023@info.com" class="link__ header_contact_link__">
                <img src="assets/images/shapes/header_mail_contact_icon__.svg" alt="...">
                <span class="text__">
                  Safe2023@info.com
                </span>
              </a>
            </li>

            <li class="block__ lang__ dropdown__ small_size_only__">
              <a class="lang_link__ butt__" href="#!">
                <figure class="figure__">
                  <img
                    class="icon__"
                    src="assets/images/shapes/header_lang_icon.svg"
                    alt="..." />
                </figure>
                العربية (ar)
              </a>
              <ul class="sub-menu__">
                <li><a href="index.html">العربية</a></li>
                <li><a href="index_en.html">English</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <!-- start active nenu button in small sizes  -->
        <button class="menu_button__ button__" id="menu-butt-activ-om">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="bars"
            class="svg-inline--fa fa-bars fa-w-14"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <path
              fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
          </svg>
        </button>
        <!-- end active nenu button in small sizes  -->
      </div>
      <div class="bootom_header__">
        <div class="bootom_header_content__">
          <nav class="nav-om" id="navbar-menu-om">
            <ul class="nav-list-om list-unstyled">
              <li class="header_list_item__ active">
                <a href="index.html">الرئيسية</a>
              </li>
              <li class="header_list_item__   ">
                <a class="" href="#aboutUs">من نحن</a>
              </li>
  
              <li class="header_list_item__">
                <a href="#products">المنتجات</a>
              </li>
              <li class="header_list_item__">
                <a href="#certificatesAndCatalogs">كتالوج</a>
              </li>
              <li class="header_list_item__">
                <a href="#projects">مشاريعنا</a>
              </li>
              <li class="header_list_item__">
                <a href="#ourCustomers">عملائنا</a>
              </li>
              <li class="header_list_item__">
                <a href="jobs.html">الوظائف</a>
              </li>
              <li class="header_list_item__">
                <a href="#contactUs">تواصل معنا</a>
              </li>
            </ul>
  
            <ul class="toolbar_options__ list-unstyled">
              <li class="block__">
                <div class="lang__ dropdown__">
                  <a class="lang_link__ butt__" href="#!">
                    <figure class="figure__">
                      <img
                        class="icon__"
                        src="assets/images/shapes/header_lang_icon.svg"
                        alt="..." />
                    </figure>
                    العربية (ar)
                  </a>
                  <ul class="sub-menu__">
                    <li><a href="index.html">العربية</a></li>
                    <li><a href="index_en.html">English</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
    </div>
    </div>
    <div class="overlay"></div>
  </div>
</header>