.input__ {
  height: 61px;
  border: solid 1px $borderColor;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: 1.2rem;
  color: $headingMainColor;
  padding: 20px 29px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  margin-bottom: 0;

  &:focus,
  &:hover {
    border-color: $primaryColor;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    color: #394444;
    opacity: 1;
    transition: 0.5s;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}
