.home_slider_section {
  position: relative;
  overflow: hidden;


  .swiper-slide {
    position: relative;

    >.figure__ {
      background-color: $primaryColor;
      padding-bottom: 42.386%;
      padding-bottom: calc(100vh - 130px);
      
      @include sm {
        // padding-bottom: 50vh;
        padding-bottom: 35vh;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg , #000 , transparent);
      // background-color: #000;
      z-index: 1;
    }
    
  }

  .slider_content {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    z-index: 2;


    @include xs {
      bottom: 60px;
      width: 100%;
      padding: 0 10px;
    }

    .slider_title__ {
      font-size: 3.5rem;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: capitalize;
      line-height: 1.7;
      margin-bottom: 8px;
      
      @include sm {
        font-size: 2.6rem;
        line-height: 1.3;
      }
    }

    .slider_parag__ {
      font-size: 1.8rem;
      font-weight: 400;
      color: #fff;
      text-transform: capitalize;
      text-align: center;
      opacity: 0.59;
      margin-bottom: 25px;

      @include xs {
        font-size: 1.4rem;
        margin-bottom: 10px;
      }
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    
    @include xs {
      bottom: 20px;
    }
  }

  .button__ {
    @include xs {
      height: 40px;
    }
  }
}

.about_us_section {
  .img_wrapper__ {
    padding: 20px 27px;
    padding-inline-end: 5px;
    position: relative;

    .figure__ {
      padding-bottom: 85.678%;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      inset-inline-start: 0;
      width: 80%;
      height: 100%;
      background-color: transparent;
      border: 8px solid rgba($primaryColor , 0.34);
      z-index: -1;
    }
  }


  .title__ {
    font-size: 2rem;
    font-weight: 600;
    color: $headingMainColor;
    margin-bottom: 20px;
  }

  .sub_title__ {
    font-size: 1.7rem;
    font-weight: 600;
    color: $paragraphSecondaryColor;
    margin-bottom: 20px;
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 600;
    color: $headingMainColor;
    line-height: 1.9;
  }
}

.certificates_and_catalogs_section {
  background-color: $greyColor;
}

.projects_section {
  .swiper-container {
    padding: 20px 0;
  }
}

.our_customers_section {
  background: linear-gradient(0 , transparent 0% 40% , $primaryColor 40% 100%);
  .swiper-container {
    padding: 20px 0;
  }
}