@import "forms/input_block";
@import "forms/textarea_block";
@import "forms/select_block";
@import "forms/checkbox_input";
@import "forms/radio_input";
@import "forms/datepicker";

.form_wrapper__ {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 25px;

  @include sm {
    padding: 20px;
    border-radius: 20px;
  }
}

.form_image__ {
  margin-bottom: 45px !important;
  
  @include xs {
    margin-bottom: 25px !important;
  }
}

.registeration_page_title_wrapper__ {
  margin-bottom: 40px !important;
  
  .section_sub_title__ {
    font-size: 1.3rem;
  }

  .mail__ {
    margin-top: 10px;
  }
  
}

.main_form__ {
  max-width: 352px;

  &.large_width__ {
    max-width: 720px;
  }
}

.input_group__ {
  margin-bottom: 20px;

  &.flex_group__ {
    display: flex;
    align-items: center;

    &.group_gap__ {
      gap: 20px;
    }

    &.small_group_gap {
      gap: 15px;
    }

    &.center {
      justify-content: center;
      margin-inline-start: auto;
      margin-inline-end: auto;
    }

    &.half_width__ {
      width: 50%;
    }
    
    &.full_width_xs_screen__ {
      @include xs {
        min-width: 100%;
      }
    }

    .select__ ,
    .input__ {
      min-width: calc(50% - 10px) !important;
    }
  }

  &.flex_dir_col_xxs_screen__ {
    @include xxs {
      flex-direction: column;
    }
  }

  &.flex_dir_col_xs_screen__ {
    @include xs {
      flex-direction: column;
    }
  }

  &.none_margin__ {
    margin: 0;
  }

  &.margin_top {
    margin-top: 60px;
  }

}

.final_buttons_wrapper__ {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_group_unit__ {
  display: flex;
  align-items: center;

  .input__ {
    border-radius: 0 $mainBorderRadius $mainBorderRadius 0;

    @include dir {
      border-radius: $mainBorderRadius 0 0 $mainBorderRadius;
    }
  }

  .unit__ {
    min-width: 67px;
    height: 56px;
    border-radius: $mainBorderRadius 0 0 $mainBorderRadius;
    border: 1px solid $borderBreakColor;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
  }
}

.label__ {
  color: $headingMainColor;
  font-size: 1.4rem !important;
  font-weight: 300 !important;
  margin-bottom: 15px;
  display: block;

  .optional__ {
    font-size: 13px;
    color: $paragraphSecondaryColor;
    margin-inline-start: 5px;
  }

  &.centered {
    text-align: center;
  }
}

.password-group-om {
  position: relative;

  .input__ {
    padding-inline-end: 40px;
  }

  .show-password-button-om {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
    width: 36px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #969696;

    @include dir {
      left: unset;
      right: 0;
    }

    &:focus {
      outline: none;
    }

    &.show-om {
      color: $secondaryColor;
    }
  }
}

.icon_input_group {
  position: relative;

  .input__,
  .textarea-om {
    padding-inline-start: 55px;
  }

  &::after {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 50%;
    inset-inline-start: 15px;
    transform: translateY(-50%);
    filter: grayscale(1);
    pointer-events: none;
  }

  &.name__ {
    &::after {
      content: url(../images/shapes/user.svg);
    }
  }

  &.phone__ {
    &::after {
      content: url(../images/shapes/input_phone_icon.svg);
    }
  }

  &.password__ {
    &::after {
      content: url(../images/shapes/password.svg);
    }
  }

  &.textarea__ {
    &::after {
      content: url(../images/shapes/textarea.svg);
      top: 20px;
      transform: unset;
    }
  }

  &:focus-within {
    &::after {
      filter: none;
    }
  }
}

.price__ {
  font-size: 1.8rem;
  color: $primaryColor;
  margin: 0;
  font-weight: 600;
  
  &.grey_color__ {
    color: $paragraphMainColor;
  }
}

.inputs_wrapper__ {
  display: flex;
  align-items: center;
  gap: 13px;

  &.with_margin_top {
    margin-top: 20px;
  }

  &.search_inputs_wrapper {
    @include sm {
      flex-wrap: wrap;
    }
  }
  
}

.custom_input__ {
  background-color: $greyColor;
  padding: 6px 23px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: $secondaryBorderRadius;

  .input__ {
    background-color: transparent;
    padding: 0;

    &:focus ,
    &:hover {
      border: none;
      outline: none;
    }
  }

  .select__ {
    .dropdown-toggle {
      border: none;
    }
  }

  .label__ {
    font-size: 1.2rem;
    height: fit-content;
    font-weight: 300;
    color: $headingMainColor;
    margin: 0;
  }

  &:focus-within {
    border-color: $primaryColor;
  }
}