@import "header/dropdown";
@import "header/login_buttons";
@import "header/1_logo";
@import "header/2_navbar";
@import "header/toolbar_options";

.fixed_header__ {
  position: relative;
  z-index: 111;
  background-color: #fff;
  padding: 25px 0 !important;
  padding-bottom: 0 !important;

  @include sm {
    padding: 10px 0 !important;
  }

  &.active_menu__,
  &.not_active_menu__ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    transition: 0s;
  }
  
  &.active_menu__ {
    animation: active-menu 0.5s;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(#000 , 0.1);
    padding: 10px 0;
  }

  &.not_active_menu__ {
    animation: not-active-menu 0.5s;
    // transform: translateY(-100%);
    top: -200px;
  }
}

.header_content__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.bootom_header__{
  background-color: #252525;
  margin-top: 20px;
  padding: 0 38px;
  position: relative;

  @include sm {
    display: none;
  }

  .bootom_header_content__,
  .nav-om {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between !important;
  }
}

@keyframes active-menu {
  0% {
    // transform: translateY(-100%);
    top: -200px;
  }

  100% {
    // transform: translateY(0);
    top: 0;
  }
}

@keyframes not-active-menu {
  0% {
    // transform: translateY(0);
    top: 0;
  }

  100% {
    // transform: translateY(-100%);
    top: -200px;
  }
}
