.button__ {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  transition: 0.5s;

  .icon__ {
    flex-shrink: 0;
    transition: 0.5s;
  }

  &.center {
    margin: 0 auto;
  }

  &.margin_start_auto__ {
    margin-inline-start: auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.half_width__ {
    width: 50%;
  }

  &.fixed_size__ {
    min-width: 344px;
    max-width: 344px;
  }

  &.margin_top__ {
    margin-top: 40px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.small_margin_top__ {
    margin-top: 20px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.scale_icon_on_hover {
    &:hover {
      .icon__ {
        transform: scale(1.1);
      }
    }
  }

  &.red_background {
    background-color: #EA0449 !important;

    &:hover {
      background-color: rgba(#EA0449 , 0.85) !important;
    }
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &.submit-button__,
  input[type="submit"] {
    height: 57px;
    color: #fff;
    padding: 0 30px;
    background-color: $primaryColor;
    
    &:hover {
      background-color: rgba($primaryColor , 0.9);
    }
  }
}
