// Cairo Fonts
@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo/Cairo-ExtraLight.woff2") format("woff2"),
    url("../fonts/Cairo/Cairo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo/Cairo-Light.woff2") format("woff2"),
    url("../fonts/Cairo/Cairo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo/Cairo-Regular.woff2") format("woff2"),
    url("../fonts/Cairo/Cairo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo/Cairo-SemiBold.woff2") format("woff2"),
    url("../fonts/Cairo/Cairo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo/Cairo-Black.woff2") format("woff2"),
    url("../fonts/Cairo/Cairo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo/Cairo-Bold.woff2") format("woff2"),
    url("../fonts/Cairo/Cairo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
