.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  &.center {
    margin: 0 auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.fixed_size__ {
    min-width: 140px;
  }

  &.main_link {
    height: 56px;
    color: #fff;
    padding: 0 30px;
    background: $primaryColor;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.header_contact_link__ {
    text-decoration: none;
    color: $headingMainColor;
    position: relative;
    gap: 5px;
    font-size: 1.3rem;
    font-weight: 700;

    .text__ {
      direction: ltr;
    }

    @include sm {
      color: #fff;
      filter: brightness(0) invert(1);
    }

    &:not(:last-of-type) {
      padding-inline-end: 20px;

      &::after {
        content: "";
        position: absolute;
        inset-inline-end: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: $borderColor;
        border-radius: $secondaryColor;
      }
    }
  }

  &.project_card_link__ {
    background-color: rgba($primaryColor, 0.13);
    height: 70px;
    padding: 0 10px !important;

    display: none;

    &:hover {
      background-color: $primaryColor;

      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  }

  &.contact_us_link {
    background-color: rgba($primaryColor, 0.05);
    justify-content: flex-start;
    padding: 30px 45px;
    height: 106px;
    gap: 20px;

    .icon__ {
      transition: 0.5s;
    }

    .title__ {
      font-size: 1.2rem;
      font-weight: 400;
      color: $paragraphSecondaryColor;
      margin-bottom: 10px;
      transition: 0.5s;
    }

    .sub_title__ {
      font-size: 1.8rem;
      font-weight: 700;
      color: $headingMainColor;
      direction: ltr;
      transition: 0.5s;
    }

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }

    &:hover {
      background-color: $primaryColor;

      .title__,
      .sub_title__ {
        color: #fff;
      }

      .icon__ {
        filter: brightness(0)invert(1);
      }
    }
  }
}
