// Main colors
$primaryColor: #F15A29;
$secondaryColor: #363443;
$greyColor: #F7F7F7;
$greenColor: #06BE0C;
$secondGreyColor: #868686;
$mainRedColor: #EA0449;
$orangeColor: #EFB104;


$borderColor: rgba(#363443 , 0.28);
$mainBackgroundColor: #f2f3fc;
$borderBreakColor: #d9e0e5;

// Head colors
$headingMainColor: #2D2D2D;
$headingSecondaryColor: #1B1616;
$headingThirdColor: #2a2929;

// Paragraph Colors
$paragraphMainColor: rgba(#394444 , 0.75);
$paragraphSecondaryColor: #8A8A8A;

//Brands Colors
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

//Border radius
$mainBorderRadius: 10px;
$secondaryBorderRadius: 25px;

$dir: "ltr";
