.about_us_card {
  background-color: $greyColor;
  padding: 44px 39px;
  
  .head_wrapper__ {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
  }
  
  .card_title__ {
    font-size: 1.8rem;
    color: $primaryColor;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .card_sub_title__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphSecondaryColor;
  }

  .parag__ {
    font-size: 1.3rem !important;
    line-height: 1.9;
  }
}