.certificates_and_catalogs_card {
  padding: 20px 16px 45px;
  background-color: #fff;
  flex-direction: column;

  .figure__ {
    width: 100%;
    padding-bottom: 70.588%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "\f03e";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      font-size: 3.5rem;
      padding: 10px;
      z-index: 100;
      background-color: #fff;
      width: 60px;
      color: $secondaryColor;
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
    }
    
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      display: block;
      background-color: rgba(#000 , 0.1);
      width: 100%;
      height: 100%;
      z-index: 100;
      transition: 0.5s;
    }
    
    &:hover {
      &::after {
        color: $primaryColor;
      }
    }
  }

  .description_wrapper__ {
    .title__ {
      font-size: 1.8rem;
      font-weight: 700;
      color: $headingMainColor;
      margin-bottom: 10px;
      transition: 0.5s;
    }

    .parag__ {
      font-size: 1.3rem;
      font-weight: 400;
      color: $paragraphSecondaryColor;
    }
  }

  &:hover {
    .img-om {
      transform: scale(1.1);
    }

    .title__ {
      color: $primaryColor;
    }
  }

  &.decoment__ {
    .figure__ {
      position: relative;

      &::after {
        content: '\f15b' !important;
      }

    }
  }

  &.video__ {
    .figure__ {
      position: relative;

      &::after {
        content: '\f04b' !important;
      }

    }
  }
}