.customers_card {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: $greyColor;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include xs {
    width: 130px;
    height: 130px;
  }

  .figure__ {
    max-width: 75px;
    max-height: 100px;
  }
}