.project_card {
  position: relative;
  z-index: 5;

  .figure__ {
    padding-bottom: 38.24%;
  }
  
  .description_wrapper__ {
    margin: 0 auto;
    margin-top: -58px;
    background-color: #fff;
    position: relative;
    z-index: 10;
    width: calc(100% - 70px);
    padding: 35px 26px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0 30px rgba(#000 , 0.06);
    gap: 7px;

    .title__ {
      font-size: 1.8rem;
      font-weight: 700;
      color: $headingMainColor;
      margin-bottom: 10px;
      transition: 0.5s;
    }

    .parag__ {
      font-size: 1.3rem;
      font-weight: 400;
      color: $paragraphSecondaryColor;
    }
  }
}