.product_card {
  .figure__ {
    padding-bottom: 78.84615%;
    margin-bottom: 16px;
    overflow: hidden;
  }

  .description_wrapper__ {
    .title__ {
      font-size: 1.8rem;
      font-weight: 700;
      color: $headingMainColor;
      margin-bottom: 10px;
      transition: 0.5s;
    }

    .parag__ {
      font-size: 1.3rem;
      font-weight: 400;
      color: $paragraphSecondaryColor;
    }
  }

  &:hover {
    .img-om {
      transform: scale(1.1);
    }

    .title__ {
      color: $primaryColor;
    }
  }
}